.scanner-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
}

h1 {
  padding: 20px;
}

.scanner-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkedin-list {
  padding-top: 20px ;
  font-weight: bold;
}

.checkedin-list > li > span {
  color: #02d202;
  max-height: 100%;
  overflow-y: auto;
}

#html5qr-code-full-region {
  background: #424242;
  border: none !important;
  width: 100% !important;
}

#html5-qrcode-button-camera-start {
  border: none !important;
  background: green !important;
  padding: 10px;
  margin: 10px;
}

#html5-qrcode-button-camera-stop {
  border: none !important;
  background: red !important;
  padding: 10px;
  margin: 10px;
}
