.scanner-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
}

h1 {
  padding: 20px;
}

.scanner-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkedin-list {
  padding-top: 20px ;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.checkedin-list > li > span {
  color: #02d202;
  max-height: 100%;
  overflow-y: auto;
}

.progress-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: rgba(100, 149, 237, 0.2);
  padding: 10px;
  border-radius: 8px;
}

.progress-container > .progress-bar {
  margin-top:10px;
  width: 100%;
}

#html5qr-code-full-region {
  background: #2C303A;
  border: none !important;
  width: 100% !important;
}

#html5-qrcode-button-camera-start {
  border: none !important;
  background: green !important;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

#html5-qrcode-button-file-selection {
  border: none !important;
  background: cornflowerblue !important;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

#html5-qrcode-button-camera-permission {
  border: none !important;
  background: cornflowerblue !important;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

#html5-qrcode-button-camera-stop {
  border: none !important;
  background: red !important;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

#html5qr-code-full-region__scan_region > video {
  max-height: 300px !important;
}

#html5qr-code-full-region__dashboard_section {
  display: flex;
  flex-direction: column;
}
